## Configuration for a CI Fuzz project
## Generated on {{.LastUpdated}}

## The build system used to build this project. If not set, cifuzz tries
## to detect the build system automatically.
## Valid values: "cmake", "unknown".
#build-system: cmake

## If the build system type is "unknown", this command is used by
## `cifuzz run` to build the fuzz test. Make sure that it XXX
build-command
